@use "./flex";
@use "./grid";
@use "./mixins";
@use "./border";
@use "./fonts";
@use "./padding";
@use "./margin";

#body {
 .c-pointer {
  cursor: pointer;
 }

 .text-bold {
  font-weight: bold;
 }

 .w-100 {
  width: 100%;
 }

 .h-100 {
  height: 100%;
 }
}