.profile-img {
 width: 12.5rem;
 height: 12.5rem;
 background: #efeff3;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 10px;

 i {
  font-size: 6rem;
  color: #c6c7cd;
 }
}